body{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  transition: background-color 1s;
}

#title{
  color: white;
  text-shadow: 0px 1px black, 0px -1px black, 1px 0px black, -1px 0px black;
}

#quote-box{ 
  display: flex;
  justify-content: center;
  align-items: center;
   height: 300px;
  width: 900px;
  margin: auto;
  border-color: black;
  border-style: inset;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 8px 8px rgba(0,0,0,0.5);
  background-color: white;
}

#quote-details{
  width: 800px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    margin: auto;
}

#text{
  text-align: center;
  font-size: 25px;
   font-family: Cinzel;
  font-weight: bold;
}

.fa-quote-left{
  font-size: 25px;  
  margin-right: 10px;
}

.fa-quote-right{
  font-size: 25px;  
  margin-left: 10px;
}

#author{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

#button-cont{
  width: 800px;
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
   
}

#social-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

#tweet-quote{
color: white;
  transition: background-color 1s;
   box-shadow: 3px 3px rgba(0,0,0,0.5);
}

#tweet-quote:active{
   position: relative;
left: 4px;
  top: 4px;
   box-shadow: inset  2px 2px rgba(0,0,0,0.5);
}

#tumble-quote{
  color: white;
  transition: background-color 1s;
   box-shadow: 3px 3px rgba(0,0,0,0.5);
}

#tumble-quote:active{
   position: relative;
left: 4px;
  top: 4px;
   box-shadow: inset  2px 2px rgba(0,0,0,0.5);
}

#new-quote{
  color: white;
  transition: background-color 1s;
   box-shadow: 3px 3px rgba(0,0,0,0.5);
  border-width: 1px 1px;
  border-style: solid;
  border-color: black;
  font-weight: bold;
}

#new-quote:active{
  position: relative;
left: 4px;
  top: 4px;
   box-shadow: inset  2px 2px rgba(0,0,0,0.5);
}